<% provide(:title, 'All users') %>
<h1>All users</h1>
<div>
  Search: <%= link_to "Search", "search" , :method => :put %>
</div>
<%= will_paginate %>
<ul class="users">
   
      <%= render @users %>
   
</ul>
<%= will_paginate %>